{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "base-form.njk" %}
{% set hmpoPageKey = "check" %}
{% set gtmJourney = "fraud" %}

{% block mainContent %}
<h1 id="header" class="govuk-heading-l">{{translate("pages.check.title")}}</h1>
{% call hmpoForm(ctx) %}

{{ hmpoHtml(translate("pages.check.content")) }}

{{ govukDetails({
summaryText: translate("pages.check.details.summary"),
html: hmpoHtml(translate("pages.check.details.text"))
}) }}

{# this button is progressively enhanced by the JavaScript code below #}
{{ hmpoSubmit(ctx, {id: "continue", attributes:{"aria-describedby":"screen-reader-status"}, html: '<span class="visual-message">'+translate("buttons.next")+'</span>' }) }}

{% endcall %}
{% endblock %}

{% block scripts %}

{{ super () }}

<script nonce="{{ cspNonce }}">
    {% include "./check-button.js.txt" %}
</script>

{% endblock %}
