{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "base-form.njk" %}
{% set hmpoPageKey = "check" %}
{% set gtmJourney = "fraud" %}

{% block mainContent %}
<h1 id="header" class="govuk-heading-l">{{translate("pages.check.title")}} </h1>
{% call hmpoForm(ctx) %}

<p>Your details will be checked against information held by another organisation.</p>

<p>This will help us protect you against online identity theft.</p>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Who we check your details with</span>
    </summary>
    <div class="govuk-details__text">
        <p>We'll check your details with <a href="https://www.experian.co.uk/privacy/privacy-and-your-data?utm_medium=internalRef&utm_source=Consumer%20Services" class="govuk-link" rel="noreferrer noopener" target="_blank">Experian (opens in new tab)</a>. This is because companies like Experian have access to information about interactions you've previously had with other organisations.</p>

        <p><a href="https://signin.account.gov.uk/privacy-notice" class="govuk-link" rel="noreferrer noopener" target="_blank">Read our privacy notice (opens in new tab)</a> if you'd like to know more about how your details will be used to prove your identity.</p>
    </div>
</details>

{{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

{% endcall %}
{% endblock %}

{% block scripts %}

  {{ super ()}}

  <script nonce="{{ cspNonce }}">
    var formSubmitted = false;

    submitSpinner()

    function delayDisableButton (button) {
      button.className += ' button--spinner'
        setTimeout(function() {
          button.setAttribute('disabled', 'disabled')
          }, 200);
      }


    function submitSpinner() {
      var selects = document.getElementById('continue')

      selects.addEventListener('click', function (event) {
        if(!formSubmitted) {
          formSubmitted = true;

          delayDisableButton(event.target);
        } else {
          event.preventDefault()
        }
      })
    }
  </script>

{% endblock %}
