// spinner button styling

$spinner-icon-size: 24px;
$spinner-icon-path: "/public/images/mini-button-spinner.svg";
$spinner-animation-duration: 0.75s;
$govuk-button-text-colour: govuk-colour("white");
$govuk-button-colour: govuk-colour("green", $legacy: #00823b);
$govuk-button-hover-colour: govuk-shade($govuk-button-colour, 20%); // from govuk-frontend/src/govuk/components/button/_index.scss
$govuk-button-shadow-colour: govuk-shade($govuk-button-colour, 60%);

button#continue.button--spinner {
  text-align: left;
  padding-right: 1rem;
  padding-left: calc($spinner-icon-size * 2);

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    height: $spinner-icon-size;
    width: $spinner-icon-size;
    margin-right: calc($spinner-icon-size / 6);
    background-image: url($spinner-icon-path);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: $spinner-icon-size $spinner-icon-size;
    animation-name: spin;
    animation-duration: $spinner-animation-duration;
    animation-iteration-count: infinite;
    // spin the svg image
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  // respect the user’s prefers reduced motion settings

  @media (prefers-reduced-motion) {
    padding-left: 1rem;
    &::before {
      display: none;
    }
  }

  // smooth transition from hover to active to disabled
  &:hover {
    background-color: $govuk-button-hover-colour;
    border-color: $govuk-button-hover-colour;
    color: $govuk-button-text-colour;
  }

  &:focus {
    background-color: $govuk-button-hover-colour;
    border-color: $govuk-button-hover-colour;
    color: $govuk-button-text-colour;
  }

  &:active {
    background-color: $govuk-button-hover-colour;
    border-color: $govuk-button-hover-colour;
    color: $govuk-button-text-colour;
  }

  &:focus:not(:active):not(:hover) {
    background-color: $govuk-button-hover-colour;
    border-color: $govuk-button-hover-colour;
    color: $govuk-button-text-colour;
  }

  // override opacity of disabled button so spinner is more visible
  &[disabled],
  &[disabled]:hover {
    opacity: 1;
    background-color: $govuk-button-hover-colour; // the dark hover colour
    box-shadow: 0 2px 0 $govuk-button-shadow-colour;
  }
}
